*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix::after{
  clear: both;
  display: table;
  content: "";
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

aside{
  padding: 30px 15px 30px 15px;
  background-color: #050505;
  height: calc(100% - 90px);
  width: 65px;
  text-align: center;
  overflow: auto;
  float: left;
}

aside span{
  display: none;
}

.aside-flex{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.recenti{
  display: none;
  padding-top: 30px;
}

aside a {
  color: rgba(255, 255, 255, 0.6);
}

aside a:hover{
  color: white;
}

#logo{
  padding-bottom: 30px;
}

#logo a{
  color: white;
  position: relative;
  display: block;
}

#logo i{
  font-size: 35px;
}

#logo span{
  font-weight: 600;
  font-size: 20px;
  left: 36px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.nav-aside li{
  padding-left: 15px;
  margin-left: -15px;
}

.nav-aside li:not(:last-child){
  margin-bottom: 10px;
}

.nav-aside li:hover{
  border-left: 5px solid limegreen;
}

.nav-aside a{
  display: block;
  position: relative;
}

.nav-aside i{
  font-size: 20px;
}

.nav-aside span{
  font-size: 14px;
  font-weight: 500;
  left: 32.5px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.recenti h5{
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 15px;
}
.recenti p{
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.recenti p:not(:last-child){
  padding-top: 10px;
  padding-bottom: 10px;
}

.aside-bottom{
  margin-top: 30px;
}

.aside-bottom span{
  font-size: 14px;
  font-weight: 500;
}

.aside-bottom hr{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  margin-bottom: 10px;
}

.aside-bottom a:last-child{
  display: block;
  position: relative;
}

.aside-bottom .fa-user{
  font-size: 25px;
  color: white
}

.aside-bottom .user{
  color: white;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

main{
  background-color: #181818;
  padding: 30px 0 30px 30px;
  height: calc(100% - 90px);
  text-align: center;
  overflow: auto;
}

header{
  padding-bottom: 30px;
  text-align: left;
}

.menu{
  display: none;
}

.nav-menu li{
  display: inline-block;
}

.nav-menu a{
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-menu ul li:first-child a{
  position: relative;
  color: white;
  margin-left: -10px;
}

.nav-menu ul li:first-child a::after{
  display: block;
  height: 2px;
  background-color: limegreen;
  width: 30px;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-top: 4px;
}

.nav-menu ul li:nth-child(5){
  margin-right: 20px;
}

.nav-menu ul li:last-child a{
  margin-left: -10px;
  margin-right: 20px;
}

.nav-menu a:hover{
  color: white;
}

.menu-bars{
  display: block;
}

.menu-bars a{
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
}

.menu-bars a:hover{
  color: white;
}

.CD-flex{
  display: flex;
  flex-wrap: wrap;
}

.CD{
  margin-right: 30px;
  margin-bottom: 30px;
}

.img-cerchio{
  border-radius: 50%
}

.creato-per-te{
  margin-top: 30px;
}

.creato-per-te h2{
  color: white;
  text-align: left;
  font-size: 28px;
  margin-bottom: 30px;
}

.creato-per-te img{
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.creato-per-te p{
  color: white;
  font-size: 14px;
}

.played{
  margin-top: 60px;
}

.played h2{
  color: white;
  text-align: left;
  font-size: 28px;
  margin-bottom: 30px;
}

.played img{
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.played p{
  color: white;
  font-size: 14px;
}

footer{
  padding: 15px;
  background-color: #282828;
  height: 90px;
  position: fixed;
  width: 100%;
}

.footer-flex{
  display: flex;
  justify-content: space-between;
}

.footer-left{
  position: relative;
  height: 60px;
  width: 30%;
}

footer img{
  height: 60px;
  margin-right: 15px;
}

.music{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
  display: none;
}

.music .song{
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.music .artist{
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
}

.fa-heart{
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 75px;
  top: 50%;
  transform: translateY(-50%);
}

.fa-heart:hover{
  color: white;
  cursor: pointer;
}

.footer-center{
  width: 70%;
  text-align: center;
}

.footer-center-top{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.footer-center-top a{
  color: rgba(255, 255, 255, 0.6);
  margin: auto 15px;
  font-size: 16px;
}

.footer-center-top a:hover{
  color: white;
}

.cerchio{
  display: inline-block;
  width: 32px;
  border: 1.2px solid rgba(255, 255, 255, 0.6);
  height: 32px;
  border-radius: 50%;
  position: relative;
  margin: auto 15px;
}

.cerchio:hover{
  border-color: white;
}

i.fa-pause{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.footer-center-bottom{
  display: flex;
  align-items: center;
}

.footer-center-bottom span{
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #404040;
  outline: none;
  margin-left: 8px;
  margin-right: 8px;
}

.slider:hover{
  background-color: limegreen;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.footer-right{
  display: none;
}

.footer-right i{
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.slider-volume{
  width: 30%;
}

@media screen and (min-width: 767px) {
  aside{
    width: 212px;
    text-align: left;
  }

  aside i{
    margin-right: 10px;
  }

  aside span{
    display: inline-block;
  }

  #logo i{
    margin-right: 2px;
  }

  .recenti{
    display: block;
  }

  .creato-per-te img{
    height: 100px;
    width: 100px;
  }

  .played img{
    height: 100px;
    width: 100px;
  }

  .footer-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
  }

  .footer-center{
    width: 40%;
  }

}


@media screen and (min-width: 1024px) {
  .menu{
    display: block;
  }

  .menu-bars{
    display: none;
  }

  .fa-heart{
    left: 230px;
  }

  .music{
    display: inline-block;
  }
}

@media screen and (max-width: 380px) {
  .footer-center-top a{
    margin: auto 8px;
  }

  .cerchio{
    margin: auto 8px;
  }

  .footer-center{
    width: 65%;
  }

  .footer-left{
    width: 35%;
  }
}
